[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
autopep8 = "*"
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
django-heroku = "*"
django-phonenumber-field = "*"
djangorestframework = "*"
gunicorn = "*"
phonenumbers = "*"
psycopg2 = "*"
pycodestyle = "*"
pytz = "*"
sqlparse = "*"
toml = "*"
tzdata = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
